{% extends 'base.html' %}
{% load thumbnail %}
{% block title %} Профайл пользователя {{ author.username }} {% endblock %}
{% block content %}
  <h1>Страница пользователя: {{ author.username }} </h1>
  <h4>Подписок: {{ author.follower.count }} </h4>
  <h4>Всего подписчиков: {{ author.following.count }} </h4>
  <h4>Всего Комментариев: {{ author.comments.count }} </h4>
  <h4>Всего постов: {{ author.posts.all.count }} </h4>
  {% if user != author and user.is_authenticated %}
    {% if following %}
      <a class="btn btn-lg btn-light"
        href="{% url 'posts:profile_unfollow' author.username %}"
        role="button">Отписаться</a>
    {% else %}
      <a class="btn btn-lg btn-primary"
        href="{% url 'posts:profile_follow' author.username %}"
        role="button">Подписаться</a>
    {% endif %}
  {% endif %}
  {% for post in page_obj %}
    {% include 'posts/includes/post.html' %}
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'includes/paginator.html' %}
{% endblock %}
